body{
  background-color:pink;
}
.card-container{
    margin:20px;
    padding:10px;
    background-color:white;
    text-align:center;
    border-radius:8px;
    border-color: blueviolet;
    border-color : 20px;
    border-style: solid;
    display:inline-block;
    height: 300px;
}
.card{
    margin:10px;
    padding:10px;
    background-color:grey;
    width:50px;
    text-align:center;
    border-radius:8px;
    display:inline-block;
}
.suit{
    margin: 5px;
    font-size:20px;
}
.name{
    margin: 5px;
    font-size:24px;
    font-weight:bold;
    font-family:sans-serif;
}
.red{
    color:red;
}
.black{
    color:black;
}
